	<Properties>
		<Property name="layoutPattern">%date{DEFAULT} | %5.5level | %15.15thread | %20.20logger{1.} | %15.15class{1.}(%4.4line) | %marker | %X | &gt; %message%n</Property>
		<Property name="applicationName">${env:application.name}</Property>
		<Property name="applicationInstance">${env:application.instance}</Property>
	</Properties>
