<configuration>
  <config>
    <add key="packageSources" value="https://nexus.vmis-ehe.eu/repository/nuget-hosted/" />
  </config>
  <packageSources>
    <add key="vmisnexus"
         value="https://nexus.vmis-ehe.eu/repository/nuget-hosted/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
