<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" monitorInterval="60" status="warn">

	<Properties>
		<Property name="layoutPattern">%date{DEFAULT} | %5.5level | %15.15thread | %20.20logger{1.} | %15.15class{1.}(%4.4line) | %marker | %X | &gt; %message%n</Property>
		<Property name="applicationName">${env:application.name}</Property>
		<Property name="applicationInstance">${env:application.instance}</Property>
	</Properties>

	<Appenders>
		<!-- console appender which logs an easy human readable line -->
		<Appender type="Console" name="console">
			<Layout type="PatternLayout" pattern="${layoutPattern}" />
		</Appender>
		<!-- File appender which logs events an a JSON structured format as specified for VMIS2 -->
		<!--
		<RollingFile name="file" fileName="/logs/Kern/${applicationName}/${applicationInstance}.log"
			filePattern="/logs/Kern/${applicationName}/${applicationInstance}_%d{yyyyMMdd-HHmmss}{UTC}.log">
			<CustomJSONLayout />
			<SizeBasedTriggeringPolicy size="10 MB" />
			<DefaultRolloverStrategy>
				<Delete basePath="/logs/Kern/${applicationName}" maxDepth="1">
					<IfFileName glob="${applicationName}*.log" />
					<IfLastModified age="3d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		-->
		<!-- Syslog-Appender for asfinag's central logging -->
		<!-- Not needed for HB
		<Syslog name="syslog" host="_____" port="514" protocol="UDP">
			<CustomJSONLayout />
		</Syslog>
		-->
	</Appenders>

	<Loggers>
		<Logger name="de.heuboe" level="info" />
		<Logger name="de.heuboe.tls.receiver" level="info" />
		<Logger name="de.heuboe.tls.receiver.rdr.getter.TimeGetter" level="info" />
		<Logger name="de.heuboe.tls.receiver.Receiver" level="info" />
		<Logger name="org.springframework" level="warn" />
		<Logger name="org.apache.kafka" level="warn" />
		<Logger name="kafka" level="warn" />
		<Logger name="com.mongodb" level="warn" />

		<Root level="warn">
			<AppenderRef ref="console" />
			<!-- AppenderRef ref="file" / -->
		</Root>
	</Loggers>

</Configuration>
